<!DOCTYPE html>
<html>
  <head>
    <title><%= 'BIENVENIDO' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= 'BIENBENIDO' %></h1>
    <p> <%= 'JAVIER' %></p>
  </body>
</html>


